i {
  font-style: normal; }

#shopheader {
  width: 100%;
  height: 34px;
  background: #f7f7f7;
  border-bottom: 1px solid #e7e7e7; }
  #shopheader a {
    color: #999999; }
  #shopheader a:hover {
    color: red; }
  #shopheader ul {
    margin-left: 940px; }
    #shopheader ul li {
      float: left;
      padding: 0 5px;
      line-height: 34px; }

#shopmain {
  width: 100%; }
  #shopmain img, #shopmain ul {
    float: left; }
  #shopmain img {
    margin-left: 130px;
    margin-top: 20px;
    width: 420px;
    height: 45px; }
  #shopmain ul {
    margin-top: 35px;
    margin-left: 180px; }
    #shopmain ul li {
      float: left; }
      #shopmain ul li dl {
        width: 140px;
        text-align: center;
        position: relative; }
        #shopmain ul li dl dt {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin: 0 auto;
          background: #3393f2;
          color: white; }
          #shopmain ul li dl dt .rightwire {
            position: absolute;
            width: 61px;
            height: 2px;
            right: 0;
            top: 9px; }
          #shopmain ul li dl dt .leftwire {
            position: absolute;
            width: 61px;
            height: 2px;
            left: 0;
            top: 9px; }
        #shopmain ul li dl .ys1 {
          background: #3393f2; }
        #shopmain ul li dl .ys2 {
          background: #cccccc; }

#shopmian {
  width: 100%; }
  #shopmian .noshop {
    padding: 250px 0 100px 370px; }
    #shopmian .noshop img, #shopmian .noshop dl {
      float: left; }
    #shopmian .noshop dl {
      margin-left: 50px; }
      #shopmian .noshop dl dt {
        font-size: 24px;
        line-height: 45px; }
        #shopmian .noshop dl dt a {
          color: black; }
        #shopmian .noshop dl dt a:hover {
          color: red; }
      #shopmian .noshop dl dd {
        margin-top: 30px; }
        #shopmian .noshop dl dd a {
          display: block;
          width: 120px;
          text-align: center;
          height: 25px;
          line-height: 25px;
          color: white;
          background: red;
          border-radius: 5px; }
  #shopmian #shopcartshow {
    display: none;
    padding-top: 20px;
    width: 1000px;
    margin: 0 auto;
    color: #666666; }
    #shopmian #shopcartshow .shopcartshowtop {
      border: 1px solid #ececec;
      line-height: 50px; }
      #shopmian #shopcartshow .shopcartshowtop h4 {
        margin-left: 20px;
        float: left;
        color: red; }
      #shopmian #shopcartshow .shopcartshowtop ul {
        float: right;
        margin-right: 5px; }
        #shopmian #shopcartshow .shopcartshowtop ul li {
          float: left;
          margin-right: 16px; }
        #shopmian #shopcartshow .shopcartshowtop ul #sendadress a {
          padding: 10px 18px;
          border: 1px solid #ececec;
          color: #666666; }
    #shopmian #shopcartshow .shopcartshowtitle {
      line-height: 36px;
      background: #f9f9f9; }
      #shopmian #shopcartshow .shopcartshowtitle table {
        width: 100%;
        border: none;
        border-bottom: 1px solid #666; }
        #shopmian #shopcartshow .shopcartshowtitle table label {
          width: 20px;
          height: 20px; }
        #shopmian #shopcartshow .shopcartshowtitle table input[type="checkbox"] {
          width: 16px;
          height: 16px;
          vertical-align: middle; }
        #shopmian #shopcartshow .shopcartshowtitle table input[type="text"] {
          width: 20px; }
        #shopmian #shopcartshow .shopcartshowtitle table td {
          border: none; }
        #shopmian #shopcartshow .shopcartshowtitle table img {
          width: 100px;
          height: 100px; }
      #shopmian #shopcartshow .shopcartshowtitle .aggregatewz {
        margin-left: 800px; }

#shopshow {
  width: 100%; }
  #shopshow .shopshowk {
    width: 1000px;
    height: 338px;
    margin: 0 auto;
    border-top: 1px solid #ebebeb;
    background: #f6f6f6; }
    #shopshow .shopshowk h4 {
      font-size: 16px;
      line-height: 60px; }
    #shopshow .shopshowk ul {
      padding-bottom: 20px; }
      #shopshow .shopshowk ul li {
        float: left;
        margin: 0 20px;
        border: 1px solid white; }
      #shopshow .shopshowk ul li:hover .shopclick {
        bottom: 0px; }
      #shopshow .shopshowk ul li:hover {
        border: 1px solid red; }
      #shopshow .shopshowk ul p {
        color: #ccc; }
      #shopshow .shopshowk ul p:hover {
        color: red; }
      #shopshow .shopshowk ul dl {
        background: white;
        overflow: hidden; }
        #shopshow .shopshowk ul dl dt img {
          width: 200px;
          height: 200px; }
        #shopshow .shopshowk ul dl dd {
          position: relative;
          padding-left: 10px;
          width: 190px;
          height: 80px; }
          #shopshow .shopshowk ul dl dd span {
            line-height: 20px; }
          #shopshow .shopshowk ul dl dd .noprice {
            color: #999999;
            text-decoration: line-through; }
          #shopshow .shopshowk ul dl dd .shopclick {
            transition: all 0.5s linear;
            text-align: center;
            line-height: 30px;
            color: white;
            position: absolute;
            width: 200px;
            height: 30px;
            background: red;
            left: 0;
            bottom: -30px; }

/*# sourceMappingURL=shoppingcart.css.map */
