@charset "utf-8";
#banner{
    width:100%;
    font-size:14px;
    .search{
        position: relative;
        border-bottom: 2px solid #282727;
        box-sizing: border-box;
        .searchl{
            font-weight: bold;
            float: left;
            margin-left:30px;
            li{
                float: left;
                line-height: 40px;
                padding:0 40px;
                a{
                    color:#333333;
                }
                a:hover{
                   color:red;
               }
            }
            .li1{
                padding:0 80px;
                background:#282727;
                color:white;
            }
        }
        .searchr{
            float: right;
            margin-right: 20px;
            li{
                float: left;
                padding-right:20px;
                line-height: 40px;
                
            }
            a:hover{
                   color:red;
               }
        }
        .search-erji{
            position: absolute;
            z-index: 10;
            padding-top: 5px;
            padding-bottom: 5px;
            left:30px;
            top:42px;
            width:216px;
            li{
               background:rgba(250,250,250,0.1);
               box-sizing: border-box;
               a{
                   margin:0 auto;
                   display:block;
                   width:180px;
                   line-height: 54px;
                   color:#AAAAAB;
                   border-bottom:1px solid white;
               }
               a:hover{
                   color:red;
               }
            }
        }
        .searchside{
            display:none;
            z-index: 10;
            position:absolute;
            background:white;
            width:950px;
            height:510px;
            left:246px;
            top:42px;
            .imgr{
                   position: absolute;
                   right:10px;
                   top:10px;    
                }
            div{
                width:100%;
                height:100%;
            }
            .l1{
               display: none;
                .ul1{
                    li{
                       line-height: 40px;
                      
                    }
                }
                .ul2{
                    li{
                        background: none;
                    }
                    dl{
                       padding-top:16px;
                       line-height: 20px; 
                    }
                    dt{
                       background:url(../img/d1.jpg) no-repeat 3px center;
                    }
                    dd{
                        color:#bababa;
                        text-indent: 10px;
                    }
                } 
                .ul3,.ul4{
                    li{
                       line-height: 42px; 
                    }
                }
                
                ul{
                    width:130px;
                    margin-left: 35px;
                    li{
                       text-indent: 10px;
                       background:url(../img/d1.jpg) no-repeat 3px center; 
                    }
                    .t1{
                        text-indent: 0;
                       background:none;
                       font-size: 14px;
                       line-height: 50px; 
                       color:#333333;
                       border-bottom:1px solid #767676;
                    }
                    
                }
            }
            .l2{
                display: none;
                padding-left:30px;
                ul{
                    margin-top:30px;
                    width:230px;
                    .t1{
                        width:160px;
                        font-size: 14px;
                        line-height:46px;
                        border-bottom: 1px solid #BABABA;
                    }
                    li{
                        padding:20px 0;
                    }
                    a{
                        padding-right:10px;
                        color:#b3b3b3;
                        line-height: 36px;
                    }
                }
                
            }
            .l3{
                display: none;
                padding-left:30px;
                ul{
                    margin-top:30px;
                    margin-right:80px;
                    li{
                        margin-bottom: 40px;
                    }
                    
                }
            }
            .l4{
                display: none;
                padding-left:30px;
                ul{
                    margin-top:35px;
                    margin-right:50px;
                    li{
                        margin-bottom: 40px;
                        img{
                            width:40px;
                            height:40px;
                        }
                    }
                }
                
                dd{
                    width:170px;
                    padding-left:10px;
                    line-height: 20px;
                }
                .fontcenter{
                    line-height:43px;
                }
            }
            .l5{
                display: none;
                padding-left:30px;
                ul{
                    padding-top:30px ;
                    padding-left: 20px;
                    
                    li{
                        margin-bottom: 40px;
                    }
                }
                dl{
                    height:44px;
                    width:220px;
                }
                dt{
                    width:44px;
                    text-align: center;
                }
                dd{
                    line-height: 34px;
                    text-indent: 20px;
                }
            }
            .l6{
                display: none;
                padding-left: 35px;
                padding-top: 30px;
                
                dl{
                    width:230px;
                    margin-bottom: 40px;
                }
                dt{
                    text-align: center;
                    width:50px;
                    height:50px;
                }
                dd{
                    line-height: 40px;
                }
            }
            
            .l7,.l8{
                display: none;
                padding-top: 35px;
                padding-left: 30px;
                dl{
                    width: 230px;
                    margin-bottom: 45px;
                }
                dt{
                    width:50px;
                    text-align: center;
                }
                dd{
                    line-height: 30px;
                }
            }
            .l9{
                display: none;
                padding-top: 35px;
                padding-left: 30px;
                dl{
                    width: 230px;
                    margin-bottom: 45px;
                }
                dt{
                    width:80px;
                    text-align: center;
                }
                dd{
                    line-height: 30px;
                } 
            }
            .l2,.l3,.l4,.l5,.l6,.l7,.l8,.l9{
                dl{
                    overflow: hidden;
                }
                dt,dd{
                    float: left;
                }
            }
            ul{
                float:left;
                font-size: 12px;
                a{
                   color:#333333;
                }
                a:hover{
                    color:red;
                }
            }
            
        }
    }
}
#bannerimg{
    position: relative;
    width:100%px;
    overflow: hidden;
    #ulbox{
        position: absolute;
        right:10px;
        bottom: 10px;
        z-index: 5;
        
        
        li{
            float: left;
            margin-right:5px;
            width:10px;
            height:10px;
            border-radius: 50%;
            
        }
    }
}
#maintop{
    background:#f7f7f8;
    width:100%;
    padding-top: 10px;
    .maint{
        background: white;
        margin:0 auto;
        width: 1200px;
        .maint-t{
            li{
                cursor:pointer;
                position: relative;
                float: left;
                margin-right: 8px;
                img,span{
                    width:230px;
                    height:145px;
                }
                span{
                    left:0px;
                    top:0px;
                    display: none;
                    position: absolute;
                    background:rgba(240,240,240,0.3);
                }
            }
            li:hover span{
                display: block;
            }
        }
    }
    .maintb{
        width:1200px;
        margin:0 auto;
        margin-top: 12px;
        height:160px;
        a{
            font-size: 12px;
            color:#333333; 
        }
        a:hover{
            color:red;
        }   
        .mainb-r{
            background: white;
            width:720px;
            height:160px;
            .mt{
                height:42px;
                img{
                    margin-top:10px;
                    margin-left: 20px;
                    float:left;
                }
                p{
                    margin-top:16px;
                    margin-right:20px;
                    float: right;
                }
            }
            .mb{
                
                    img{
                      width:165px;
                       height:85px;
                    }
                    dl,ul{
                       float:left;
                    }
                   dl{
                       margin:15px 30px;
                    }
                    ul{
                        margin-top: 30px;
                        line-height: 25px;
                    }
            }
        }
        .mainb-m{
            margin-left:3px;
            background: white;
            width:240px;
            height:160px;
            dt{
                margin-top:14px;
                h4{
                    float: left;
                    margin-left: 10px;
                }
                p{
                    float:right;
                    margin-right: 18px;
                }
                        
            }
                dd{
                        margin-top:15px;
                        li{
                            line-height: 25px;
                        }
                    }
        }
        .mainb-l{
            width:210px;
            background:white;
            height:160px;
            margin-left: 3px;
            dl{
                margin-top: 12px;
                margin-left: 14px;
            }
            dd{
                margin-top: 20px;
                li{
                    float: left;
                   dl{
                       img{
                           display: inline-block;
                           text-align: center;
                       }
                       margin:0;
                       width:60px;
                       text-align: center;
                   }
                }
            }
        }
        .mainb-r,.mainb-m,.mainb-l{
                 float:left;
        }
    }
}
#mainm{
    width:100%;
    padding-top: 20px;
    text-align: center;
    background: #f7f7f8;
    .tit{
        font-size: 30px;
        line-height: 70px;
    }
    .maink{
        width: 1200px;
        margin: 0 auto;
    }
    .li2:hover img{
            transform: scale(1.1);
        }
    .mainm-t{
        a:hover h2{
            color:red;
        }
        a:hover span{
            color:red;
        }
        a{
            display: block;
            width:100%;
            height:100%;
        }
        width: 100%;
        li{
            float: left;
            width: 600px;
            height:320px;
            box-sizing: border-box;
            border:2px solid #f7f7f8;
        }
        .li2{
            background: white;
            width: 600px;
            height:320px;
            float: left;
            img{
                width:240px;
                height: 180px;
                transition: all linear 1s;
            }
            h2{
                font-size: 32px;
                color:#333333;
                line-height: 70px;
            }
            p{
                font-size: 14px;
                color:#a7a7a7;
                line-height: 25px;
            }
            span{
                font-size: 16px;
                color: #393939;
                line-height: 30px;
            }
            dl{
                padding-top: 95px;
                padding-left:56px ;
            }
            dt{
                padding-right: 100px;
            }
            dt,dd{
                float: left;
            }
        }
        
        .li1{
            position: relative;
            img{
                width:100%;
                height:100%;
            }
            span{
                display: none;
                position: absolute;
                right: 0;
                top:50px;
                width:277px;
                height:203px;
                background:rgba(200,200,200,0.2);
            }
        }
        .li1:hover span{
            display: block;
        }
    }
    .mainm-b{
        li{
            box-sizing: border-box;
            border: 1px solid #f7f7f8;
            float: left;
            background:white;
        }
        .li2{
            width:200px;
            height:190px;
            a{
                display:block;
                width:100%;
                height:100%;
                color:#393939;
            }
            dl{
                padding-top:35px;
                text-align: center;
                width:100%;
                img{
                    padding-left: 48px;
                     transition: all linear 1s;
                     width:100px;
                     height:80px;
                }
                dd{
                    padding-top: 10px;
                }
            }
        }
        .li2:hover a{
            color:red;
        }
        .mainmbl{
            margin-left:5px;
            position: relative;
            img{
                width:380px;
                height:186px;
            }    
            span{
                position:absolute;
                left:0;
                top:0;
                display: block;
                width:100%;
                height:100%;
                background:rgba(200,200,200,0.5);
                transition: all 2s linear;
            }
            span:hover{
                background:rgba(200,200,200,0);
            }
            
        }
    }
}
