#shopheader{
    width:100%;
    height:34px;
    background:#f7f7f7 ;
    border-bottom: 1px solid #e7e7e7;
    a{
        color:#999999;
    }
    a:hover{
        color:red;
    }
    ul{
        margin-left: 940px;
        li{
            float: left;
            padding: 0 5px;
            line-height: 34px;
        }
    }
}
#shopmain{
    width: 100%;
    img,ul{
        float: left;
    }
    img{
        margin-left: 130px;
        margin-top: 20px;
        width:420px;
        height:45px;
    }
    ul{
        margin-top:35px;
        margin-left: 180px;
        li{
            float: left;
            dl{
                width:140px;
                text-align: center;
                position: relative;
                dt{
                    width:20px;
                    height:20px;
                    border-radius: 50%;
                    margin:0 auto;
                    background:#3393f2 ;
                    color:white;
                    .rightwire{
                        position: absolute;
                        width:61px;
                        height:2px;
                        
                        right:0;
                        top:9px;
                    }
                    .leftwire{
                        position: absolute;
                        width:61px;
                        height:2px;
                        left:0;
                        top:9px;
                    }
                    
                }
                .ys1{
                    background:#3393f2 ;
                }
               .ys2{
                    background: #cccccc;
                }
            }
        }
    }
}
#shopmian{
    width:100%;
    .noshop{
        //display: none;
        padding:250px 0 100px 370px;
        img,dl{
            float: left;
        }
        dl{
            margin-left: 50px;
            dt{
                font-size: 24px; 
                line-height: 45px;
                a{
                    color: black;
                }
                a:hover{
                    color: red;
                }
            }
            dd{
                margin-top: 30px;
                a{
                    display: block;
                    width:120px;
                    text-align: center;
                    height:25px;
                    line-height: 25px;
                    color:white;
                    background: red;
                    border-radius: 5px;
                }
            }
        }
    }
}
#shopshow{
    width:100%;
    .shopshowk{
        width:1000px;
        height:338px;
        margin:0 auto;
        border-top:1px solid #ebebeb ;
        background: #f6f6f6;
        h4{
            font-size: 16px;
            line-height: 60px;
        }
        ul{
            padding-bottom: 20px;
            li{
                float: left;
                margin: 0 20px;
            }
            dl{
                background: white;
                overflow: hidden;
                dt{
                    img{
                        width: 200px;
                        height:200px;
                    }
                }
                dd{
                    position: relative;
                    padding-left: 10px;
                    
                    width:190px;
                    height:80px;
                    span{
                        line-height: 20px;
                    }
                    .noprice{
                        color:#999999;
                        text-decoration: line-through;
                    }
                    a{
                        text-align: center;
                        line-height: 30px;
                        color: white;
                        position: absolute;
                        width:200px;
                        height:30px;
                        background:red;
                        left:0;
                        bottom:-30px;
                    }
                }
            }
        }
    }
   
}
